<div class="hero">
    <section class="section1">
        <img class="imgSection1" src="assets/IMG/background.jpg" alt="arvores">
        <h1 class="text-section1">
            Empresa de Tecnologia Ambiental especializada em desenvolver e implementar
            tecnologias para promover um futuro sustentável.
        </h1>
        <div class="section1-btn">
            <button class="section-btn">
                <a class="linkBtn" href="#caixasId">Conheça nossos serviços</a>
            </button>
        </div>
    </section>
</div>
