<section class="section2">
    <div class="title">
        <h1 class="title1">Inovação Ambiental para um Mundo Sustentável</h1>
        <p>Nossa abordagem diferenciada garante soluções completas e eficazes para os</p>
        <p>desafios ambientais contemporâneos.</p>
    </div>
    <div class="caixas">
        <div id="caixasId" class="caixa1">
            <div class="box1"></div>
            <img class="img-box1" src="assets/IMG/img-box1.png" alt="">
            <h2 class="title-box1">Soluções Integradas para Gestão de Resíduos</h2>
            <p class="p-box1">Oferecemos um serviço completo de coleta, transporte e <br> tratamento de resíduos, garantindo conformidade com as <br> regulamentações ambientais. Nosso compromisso é com <br> a sustentabilidade, proporcionando soluções eficientes e <br> seguras para a gestão de resíduos.</p>
        </div>
        <div class="caixa2">
            <div class="box1"></div>
            <img class="img-box1" src="assets/IMG/img-box2.png" alt="">
            <h2 class="title-box2">Experiência e Expertise ao seu Dispor</h2>
            <p class="p-box1">Nossa equipe técnica conta com engenheiros e técnicos <br> especializados, prontos para oferecer soluções personali- <br> zadas para os desafios ambientais de nossos clientes. <br> Utilizamos tecnologias de ponta para assegurar a máxima <br> eficiência e sustentabilidade em nossos serviços.</p>
        </div>
        <div class="caixa3">
            <div class="box1"></div>
            <img class="img-box1" src="assets/IMG/img-box3.png" alt="">
            <h2 class="title-box3">Tecnologia de Ponta para Resultados Eficientes</h2>
            <p class="p-box1">Investimos em equipamentos de última geração, garantindo <br> eficiência e segurança em todas as etapas de nossos <br> serviços. Além disso, nossos processos são continuamente <br> aprimorados para atender às mais rigorosas normas ambientais <br> e às expectativas dos clientes.</p>
        </div>
    </div>
</section>
