<!-- 

    TITULOS TERCEIRA SESSÃO
    <h1 class="section3-title">Inovação Ambiental para um Mundo Sustentável</h1>
    <p class="section3-p">Nossa abordagem diferenciada garante soluções completas e eficazes para os </p>
    <p class="section3-p">desafios ambientais contemporâneos.</p>

    <div class="box-section3">
        <div class="section3-box">
            <img class="section3-img" src="assets/IMG/section3-img-box1.png" alt="">
            <h1 class="box1-title">Soluções Integradas para Gestão de Resíduos</h1>
            <p class="box1-p">Oferecemos um serviço completo de coleta, transporte e
                tratamento de resíduos, garantindo conformidade com as
                regulamentações ambientais. Nosso compromisso é com
                a sustentabilidade, proporcionando soluções eficientes e
                seguras para a gestão de resíduos.</p>
        </div>

        <div class="section3-box">
            <img class="section3-img" src="assets/IMG/section3-img-box2.png" alt="">
            <h1 class="box2-title">Experiência e Expertise ao seu Dispor</h1>
            <p class="box2-p">Nossa equipe técnica conta com engenheiros e técnicos
                especializados, prontos para oferecer soluções personali-
                zadas para os desafios ambientais de nossos clientes.
                Utilizamos tecnologias de ponta para assegurar a máxima
                eficiência e sustentabilidade em nossos serviços.</p>
        </div>

        <div class="section3-box">
            <img class="section3-img" src="assets/IMG/section3-img-box3.png" alt="">
            <h1 class="box3-title">Tecnologia de Ponta para Resultados Eficientes</h1>
            <p class="box3-p">Investimos em equipamentos de última geração, garantindo
                eficiência e segurança em todas as etapas de nossos
                serviços. Além disso, nossos processos são continuamente
                aprimorados para atender às mais rigorosas normas ambientais
                e às expectativas dos clientes.</p>
        </div>
    </div> -->