<section class="section3">
    <div class="gallery">
        <img class="section3-img" src="assets/IMG/Section3Background.webp" alt="fundo verde com detalhes em arvores">
        <img class="gallery-img2" src="assets/IMG/section2-img.jpg" alt="homem olhando computador perto de placas solares ao ar livre">
        <img class="gallery-img3" src="assets/IMG/section3-img.jpg" alt="">
        <img class="gallery-img1" src="assets/IMG/section1-img.jpg" alt="">
    </div>
    <div class="lateral-section3">
        <h1 class="section3-title">Líder em Soluções Sustentáveis</h1>
        <h2 class="section3-subtitle">Construindo um futuro mais limpo e seguro para as gerações futuras</h2>
        <p class="section3-p1">A GreenWaves fundada em 2024 surge no mercado para ofertar serviços de engenharia, <br> na área de consultoria e ofertando soluções completas. <br><br><br> Com equipe habilitada e capacitada, <br> equipamentos dos mais modernos disponíveis no mercado, ofertamos mais que gestão, <br> ofertamos tranquilidade aos clientes de terem a melhor qualidade a disposição do mercado <br> nacional. <br><br><br> Visão da empresa em ser a melhor empresa do segmento aos seus clientes, <br> ofertando qualidade e entregando tranquilidade.</p>
    </div>
</section>
